* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

body {
    background-color: #fff6da;
    z-index: 1;
}



/* footer */

#footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #e6e6e6;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

#contact {
    width: 300px;
}

#contact p {
    margin-top: 20px;
}

#contact p a {
    color: #db5138;
    font-family: droid-sans, sans-serif;
    font-weight: 400;
    text-decoration: none;
    margin-right: 14px;
}

.brands img {
    margin-right: 26px;
    margin-top: 20px;
    width: 20px;
    margin-bottom: 25px;
}

.copyright {
    font-family: inherit;
    font-size: 14px;
    color: #858381;
    padding-bottom: 12px;
}

/* filtro para deixar os ícones na cor roxo */
.filter-purple {
    filter: invert(18%) sepia(11%) saturate(5642%) hue-rotate(242deg) brightness(98%) contrast(83%);
}

#newsletter {
    background-color: #fff6da;
    margin-top: 10px;
    margin-bottom: 24px;
}

.newsletter-content {
    width: 400px;
    padding: 20px;
}

.newsletter-title {
    font-family: droid-sans, sans-serif;
    font-style: italic;
    font-size: 18px;
    color:  #565a5f;
    margin-bottom: 10px;
}

.newsletter-subtitle {
    font-family: droid-sans, sans-serif;
    color:  #565a5f;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
}

#email {
    width: 18vw;
    height: 7vh;
    margin-right: 8px;
    border-radius: 5px;
    padding: 1rem;
}

#btn-submit {
    width: 160px;
    height: 38px;
    background-color: #db5138;
    color: #fff6da;
    border: none;
    border-radius: 5px;
}

#btn-submit:hover {
    cursor: pointer;
    background-color: #a5331f;
}


/* mobile */
@media (max-width: 768px) {
    #footer-section {
        flex-direction: column-reverse;
    }

    #newsletter {
        width: 24rem;
        margin-right: auto;
        margin-left: auto;
    }

    #links a {
        display: none;
    }

    #contact {
        margin-left: auto;
        margin-right: auto;
    }

    .brands {
        display: flex;
        justify-content: space-between;
    }

    .brands a img {
        margin-right: 0;
    }

    .copyright {
        font-size: 16px;
    }

    }



    #email {
        width: 180px;
    }

    #btn-submit {
        width: 150px;
    }

    