* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

body {
    background-color: #fff6da;
    z-index: 1;
}

/* container header */
.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8px;
}

.merlins-potions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #db5138;
    font-size: 36px;
    margin-bottom: 0;
}

.logo span {
    font-weight: 600;
}

.subtitle {
    color: #523468;
    margin-top: 0px;
    font-size: 15px;
    text-decoration:overline;
    font-family: droid-sans, sans-serif;
    font-style: italic;
}


.search {
    position: relative;
}

.search::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 15px;
    background: url(/assets/fontawnsome/icons/magnifying-glass.svg) center / contain no-repeat;
    /* filtro para deixar o ícone da lupa laranja */
    filter: invert(32%) sepia(77%) saturate(904%) hue-rotate(333deg) brightness(110%) contrast(88%);
}

.search input {
    padding: 10px 24px;
}

.header-text {
    color: #db5138;
    font-family: droid-sans, sans-serif;
    font-style: italic;
}

#content1 {
    font-size: 24px;
}

  /* quebra de linha */
#content2::before{ 
    content: "\a";
    white-space: pre;
}

.bag {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #969aa0;
    font-size: 16px;
}

.bag img {
    width: 36px;
    margin: 20px;
}

.bag #cartItem {
    font-weight: 600;
}

/* nav bar */

#hamburguer-icon {
    display: none;
    width: 20px;
    cursor: pointer;
    /* filtro para deixar os ícones na cor roxo */
    filter: invert(18%) sepia(11%) saturate(5642%) hue-rotate(242deg) brightness(98%) contrast(83%);
}


#nav-list li a {
    display: flex;
    color: #b9bec9;
    text-align: center;
    padding: 14px  16px;
    text-decoration: none;
    white-space: nowrap;
}

#nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #523468;
    border: 0.1px solid #b9bec9;
    margin-top: 18px;
}

#sign-in-up {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    margin-left:15%;
    font-family: droid-sans, sans-serif;
    font-style: italic;
}
    
#nav-list li {
    letter-spacing: 2px;
}

li  span {
    color: #9e72bd;
    font-style: normal;
}

#cleareance {
    background-color: #422a53;
    margin-right: 4rem;
    font-family: droid-sans, sans-serif;
    font-style: italic;
    padding: 9px 8px;
}

#potions {
    padding-left: 5%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #b9bec9;
    padding: 24px 16px;
    background-color: inherit;
    margin: 0;
    font-family: droid-sans, sans-serif;
    font-style: italic;
    white-space: nowrap;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #422a53;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #523468;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: droid-sans, sans-serif;
    font-style: italic;
}

.dropdown-content a {
    float: none;
    color: #b9bec9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #27053f;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* mobile */
@media (max-width: 1024px) {
    #hamburguer-icon {
        display: block;
    }

    #nav-list {
        display: none;
    }

    .header-text {
        display: none;
    }
    
    .search {
        display: none;
    }

    .merlins-potions {
        align-self: center;
    }

    .bag {
        flex-direction: column;
    }
}

#menu-hamburguer {
    display: none;
}


#menu-hamburguer ul {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: #fff6da;
    list-style: none;
    font-family: droid-sans, sans-serif;

}

#menu-hamburguer ul li:nth-child(1){
    display: flex;
    width: 100%;
    background-color: #fff6da;
}

#menu-hamburguer ul li:nth-child(1) button{
    margin-right: 1rem;
    color: #27053f;
    font-size: 16px;
    cursor: pointer;
}

#menu-hamburguer ul li:nth-child(1) input {
    width: 70vw;
    padding: 8px 16px;
}

#menu-hamburguer li {
    background-color: #523468;
    padding: 1rem 0;
    padding-left: 2rem;
    font-style: italic;
}

#menu-hamburguer li button {
    background: unset;
    border:  none;
    color: #b9bec9;
    font-family: droid-sans, sans-serif;
    font-style: italic;
    font-weight: 600;
}

#menu-hamburguer li a {
    text-decoration: none;
    color: #b9bec9;
}

#menu-hamburguer .login-box {
    display: flex;
    justify-content: center;
}

#menu-hamburguer .login-box span {
    margin: 0 1rem;
}